<h3>Welcome to Angular Pipes</h3>
<div class="form-control">
  <app-registration-form></app-registration-form>
</div>


<!-- <app-post-list></app-post-list> -->

<!-- JSON PIPES -->
<!-- <h3>Json PIPES</h3>
<h3>{{user}}</h3>
<h3>{{userAngular | json}}</h3>
<button (click)="convertToJson()">Convert to Json</button>
<HR/>

<h3>SLICE PIPES</h3>
<h3>HELLO ANGULAR - sliced is : {{"HELLO ANGULAR WORLD" | slice:6}}</h3>
<h3>HELLO ANGULAR - sliced is : {{"HELLO ANGULAR WORLD" | slice:6:13}}</h3>


<h3>{{"uppercase pipes" | uppercase}}</h3>
<h3>{{"LOWERCASE pipes" | lowercase}}</h3>
<H3>{{"TITLECASE pipe" | titlecase}}</H3>


<h3>{{9393994.98 | number}}</h3>
<h3>0.7 the percentage pipe will convert and format will be {{0.7 | percent}}</h3>
<h3>10000 the currency pipe will convert and format will be {{10000 | currency : "EUR"}}</h3>
 -->

<!-- Date and time pipes-->
 <!-- <h3>Data and time PIPES</h3>
<h3>{{today | date}}</h3>
<h3>short format - {{today | date : 'short'}}</h3>
<h3>medium format - {{today | date : 'medium'}}</h3>
<h3>Long format - {{today | date : 'long'}}</h3>
<h3>full format - {{today | date : 'full'}}</h3>

<h3>dd/MM/yyyy - {{today | date : 'dd/MM/yyyy'}}</h3>
<h3>dd-MM-yyyy - {{today | date : 'dd-MM-yyyy'}}</h3>
<h3>dd-MMMM,yyyy - {{today | date : 'dd-MMMM,yyyy'}}</h3>

<h3>hh:mm:ss a- {{today | date : 'hh:mm:ss a'}}</h3>
<h3>HH:mm:ss a - {{today | date : 'HH:mm:ss a'}}</h3>
<h3>HH:mm:ss a z - {{today | date : 'HH:mm:ss a z'}}</h3>
 -->
